{%extends "base.html"%}

{%block title%}
My Blog
{%endblock%}

{%block content%}
<header id = "main-navigation">
    <h1><a href="">Hai Blog</a></h1>
    <nav><a href="">All Posts</a></nav>
</header>
<section id="welcome">
    <header>
        <img src="" alt="the image author is hai">
        <p>Haitham's Blog</p>
    </header>
    <p>Hi i am Hai i like to blog about the tech and the world</p>
</section>

<section id = "latest-post">
    <h2>My latest thought</h2>
    <ul>
        <li>
            <article class ="post">
                <a href="">
                    <img src="" alt="Mountain Hiking">
                </a>
                <div class="post_content">
                    <h3>Mountain Hiking</h3>
                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Inventore,
                         rem numquam pariatur a perspiciatis quasi voluptatem hic veniam suscipit vel 
                        aperiam qui animi corrupti possimus. Dicta doloremque commodi eaque voluptas?</p>
                </div>
            </article>
        </li>
    </ul>
</section>

<section id = "about">
    <h2>what i do</h2>
    <p>I love programming, i love teaching others and i love to explore new technology in general</p>
    <p>My goal is keep growing as a developer and if i could help you do the same i would be very happy</p>

</section>

<h1> this is my first blog </h1>
{%endblock%}
